{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}blog详情{% endblock %}
{% block custom_bread %}
<section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'blog:blog_list' %}">blog列表</a>></li>
                <li>{{ blog.title }}</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block style %}
    <style type="text/css">
        p {font-family: '微软雅黑';font-size: 17px;line-height: 32px;color:#222;}
        #container {width:80%;margin:10px auto;padding:20px;border-color:#C9C9C9;}
        h1 {font-size:22px;font-family:'微软雅黑';color:red;padding-top: 10px; text-align: center; border-bottom:2px #999 solid;padding-bottom: 10px;}
        h4 {font-size:13px;background: #fff;padding:2px 5px;border:1px #bbb dotted;}
        #container img {border:5px white solid;padding: 1px;background: #ED9394}
        .bgcolorEFEFEF{background: #EFEFEF}
        .marginauto {margin: 10px auto; padding: 20px;}
        .listeach {padding: 10px 0 0px 0px;border-top: 1px solid #dedede;line-height: 15px;}
        .postcommenttitle {margin: 10px 0px;}
        {#.rightform {height: 180px;width: 90%;padding: 5%;#}
}
    </style>
{% endblock %}

{% block content %}
<section>
    <div id="container">
    <div class="contentblock bgcolorEFEFEF marginauto">
    <h1 >{{ blog.title }}</h1>
    <h4 >作者：{{ blog.blog_author.nick_name }} &nbsp; {{ blog.create_time }} &nbsp; 评论：{{ comments.count }}</h4>
         <div class="butler_detail_cont clearfix">
                <div class="left layout">

                    <div class="companycenter">
                        <div class="group_list brief">
                            {% autoescape off %}
                            {{ blog.content }}
                            {% endautoescape %}
                        </div>
                    </div>
                 </div>

          </div>
    </div>
                <!-- //评论列表start -->
        <div class="commentlist bgcolorEFEFEF marginauto">
            <h3>共{{ comments.count }}条评论</h3>
                    {% for comment in comments %}
                        <p class="listeach">{{ comment.comment_author.nick_name }} &nbsp; {{ comment.create_time }}<p>
                        {{ comment.content }}
                    {% endfor %}
            </div>
             <!-- //评论列表end -->


        <!-- //发布评论start -->
        <div class="right bgcolorEFEFEF marginauto">
            <div class="head postcommenttitle">我也说两句</div>
            <form class="rightform" id="jsStayForm">
                <div>
                    <textarea rows="5" cols="40" name="content" id="commentContent">内容</textarea>
                    <input type="hidden" name="blog_id" value="{{ blog.id }}" />
                </div>
                <p class="error company-tips" id="jsCompanyTips"></p>
                <input class="btn" type="button" id="jsStayBtn" value="提交评论 >" />
               {% csrf_token %}
            </form>
        </div>
        <!-- //发布评论end -->

	</div>
</section>
{% endblock %}


{% block custom_js %}
<script>
    $(function(){
        $('#jsStayBtn').on('click', function(){
            $.ajax({
                cache: false,
                type: "POST",
                url:"{% url 'blog:add_comment' %}",
                data:$('#jsStayForm').serialize(),
                async: true,
                success: function(data) {
                    if(data.status == "success"){
                        $("#jsStayForm")[0].reset();
                        alert("提交成功")
                    }else if(data.status == 'fail'){
                        $('#jsCompanyTips').html(data.msg)
                    }
                },
            });
        });
    })

</script>

{% endblock %}