{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}blog详情{% endblock %}
{% block custom_bread %}
<section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'blog:blog_list' %}">blog列表</a>></li>
                <li>{{ blog.title }}</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block content %}
<section>
	<div class="wp butler-detail-box butler-diaryd-box clearfix">
        <div class="fl list">
            <div class="butler_detail_list clearfix">
                {{ blog.title }} &nbsp; {{ blog.author.nick_name }} &nbsp; {{ blog.create_time }}
                </div>
            </div>
            <div class="butler_detail_cont clearfix">
                <div class="left layout">
				<div class="head">
					<ul class="tab_header">
						<li class="active"><a href="{% url 'course:course_list'  %}">内容</a> </li>
					</ul>
				</div>
                    <div class="companycenter">
                        <div class="group_list brief">
                            {% autoescape off %}
                            {{ blog.content }}
                            {% endautoescape %}
                        </div>
                    </div>
                 <div>
                {% for comment in comments %}
                    <p>{{ comment.author.nick_name }}<p>  <p>{{ comment.create_time }}</p>
                    {{ comment.content }}
                {% endfor %}
            </div>
            <div class="right companyright">
			<div class="head"></div>
			<form class="rightform" id="jsStayForm">
				<div>

                     <textarea rows="5" cols="40" name="content" id="commentContent">内容</textarea>
                    <input type="hidden" name="blog_id" value="{{ blog.id }}" />
                </div>

                <p class="error company-tips" id="jsCompanyTips"></p>
				<input class="btn" type="text" id="jsStayBtn" value="提交评论 >" />
                {% csrf_token %}
            </form>
		</div>

                <!--<div class="pageturn">-->
                    <!--<ul class="pagelist">-->
                        <!--<li class="active"><a href="?page=1">1</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            </div>
            </div>
        </div>

	</div>
</section>
{% endblock %}


{% block custom_js %}
<script>
    $(function(){
        $('#jsStayBtn').on('click', function(){
            $.ajax({
                cache: false,
                type: "POST",
                url:"{% url 'blog:add_comment' %}",
                data:$('#jsStayForm').serialize(),
                async: true,
                success: function(data) {
                    if(data.status == "success"){
                        $("#jsStayForm")[0].reset();
                        alert("提交成功")
                    }else if(data.status == 'fail'){
                        $('#jsCompanyTips').html(data.msg)
                    }
                },
            });
        });
    })

</script>

{% endblock %}