{% extends "new_base.html" %}
{% block title %}CCTESTER - 首页{% endblock %}
{% load  staticfiles %}



{% block content %}
  <div class="banner">
    <div id="sucaihuo" class="fader">
        {% for new in all_banners %}
             <a href="{% url 'news:new_detail' new.id %}">
                            <img class="slide" src="{{ MEDIA_URL }}{{ new.image }}"/>
              </a>
        {% endfor  %}
      <div class="fader_controls">
        <div class="page prev" data-target="prev">&lsaquo;</div>
        <div class="page next" data-target="next">&rsaquo;</div>
        <ul class="pager_list">
        </ul>
      </div>
    </div>
    <script>
$(function() {
	$('#sucaihuo').easyFader();
});
</script> 
  </div>
  
  <div class="newblogs">
    <h2 class="hometitle">最新博客</h2>
    <ul>
      {% for temp_blog in hot_blogs %}
          <li>
        <h3 class="blogtitle"><span>热门博客</span><a href="{% url 'blog:blog_detail' temp_blog.id %}" target="_blank" >{{ temp_blog.title }}</a></h3>
        <div class="bloginfo">
            {% if temp_blog.image != "" %}
            <span class="blogpic"><a href="{% url 'blog:blog_detail' temp_blog.id %}" title="{{ temp_blog.title }}"><img src="{{ MEDIA_URL }}{{ temp_blog.image }}" alt="{{ temp_blog.title }}" /></a></span>
            {%  endif %}
            <p>{{ temp_blog.brief }}</p>
        </div>
        <div class="autor"><span class="lm f_l"></span><span class="dtime f_l">{{ temp_blog.create_time}}</span><span class="viewnum f_l">浏览 <a href="/">{{ temp_blog.click_nums }}</a></span><span class="f_r"><a href="{% url 'blog:blog_detail' temp_blog.id %}" class="more">阅读原文</a></span></div>
        <div class="line"></div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="rbox">
    <div class="paihang">
      <h2 class="hometitle">热门新闻</h2>
      <ul>

        {% for temp_new in all_news %}
            <li><b><a href={% url 'news:new_detail' temp_new.id %} target="_blank">{{ temp_new.title }}</a></b>
                <p>
                    {% if temp_new.image != "" %}
                        <i><img src="{{ MEDIA_URL }}{{ temp_new.image }}"  /></i>
                    {% endif %}
                    {{ temp_new.brief}}
                </p>
            </li>
        {% endfor %}
      </ul>
    </div>

    <div class="links">
      <h2 class="hometitle">专栏</h2>
      <ul>
        <li><a href="{% url 'blog:blog_list' %}?type=1" target="_blank">Python基础</a></li>
        <li><a href="{% url 'blog:blog_list' %}?type=2" target="_blank">Jmeter基础</a></li>
      </ul>
    </div>
    <div class="weixin">
      <h2 class="hometitle">免费公开课直播群</h2>
        <div class="ab_con">
          <p>QQ群：293549845</p>
        <p>介绍：本群针对自动化测试，性能进行技术交流，希望大家一起进步，共同提高。</p>

      </div>
      <ul>
        <img src="{% static 'images/QQ.png' %}">
      </ul>
    </div>
  </div>
{% endblock %}
