{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}VIPTEST01--资讯{% endblock %}
{% block custom_bread %}
<section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li>新闻列表</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block content %}
<section>
	<div class="wp butler_list_box list">
	<div class='left'>
		<div class="butler_list layout">
			<div class="head">
				<ul class="fl tab_header">
					<li {% if sort == '' %}class="active"{% endif %}><a href="?sort=">全部</a> </li>
					<li {% if sort == 'time' %}class="active"{% endif %}><a href="?sort=time">最新 &#8595;</a></li>
				</ul>
                <div class="fr butler-num">共<span class="key">{{ news_count }}</span>条&nbsp;&nbsp;&nbsp;</div>
			</div>

            {% for new in all_news.object_list %}
                <dl class="des" style="width:903px;height:60px">


						<a href="{% url 'news:new_detail' new.id  %}">
                            <h1>{{ new.title }}<span class="key picbig">群主认证</span></h1>
                        </a>
						<ul class="cont">
							<li>发布时间：<span>{{ new.create_time }}</span></li>
							<li>点击数：<span>{{ new.click_nums }}</span></li>
						</ul>

                </dl>
            {% endfor %}


		</div>
    <div class="pageturn">
        <ul class="pagelist">
            {% if all_news.has_previous %}
                <li class="long"><a href="?{{ all_news.previous_page_number.querystring }}">上一页</a>
                </li>
            {% endif %}

            {% for page in all_news.pages %}
                {% if page %}
                    {% ifequal page all_news.number %}
                        <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                    {% else %}
                        <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                    {% endifequal %}
                {% else %}
                    <li class="none"><a href="">...</a></li>
                {% endif %}
            {% endfor %}
            {% if all_news.has_next %}
                <li class="long"><a
                        href="?{{ all_news.next_page_number.querystring }}">下一页</a></li>
            {% endif %}
        </ul>
    </div>

	</div>
	<div class="right layout">
		<div class="head">热门新闻排行榜</div>

        {% for new in sorted_news %}
            <dl class="des">
                <span class="num fl">{{ forloop.counter }}</span>

                <dd style="float:left ;padding-left:10px;padding-top: 8px; width:150px">
                    <a href="{% url 'news:new_detail' new.id  %}">
                        <h2 title="bobby">{{ new.title }}</h2>
                    </a>
                </dd>
            </dl>
        {% endfor %}

	</div>
    </div>
</section>
{% endblock %}
